<div class="main-body">
  <mat-card class="mat-card-left">
    <mat-card-header>
      <mat-card-title>Salary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline" style="margin-top: 8px">
          <mat-label>Employee</mat-label>
          <mat-select formControlName="employeeId" placeholder="Employee">
            <mat-option *ngFor="let item; of" [value]=""> </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Salary</mat-label>
          <input
            matInput
            class="right-align"
            formControlName="salary"
            type="number"
            min="0"
          />
          <span matTextPrefix>$&nbsp;</span>
          <span matTextSuffix>.00</span>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <div [align]="'end'">
          <button type="submit" mat-raised-button color="primary">Save</button>
          <button mat-raised-button color="warn" style="margin-left: 8px">
            Reset
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-card-right">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Education</th>
        <td mat-cell *matCellDef="let row">{{ row.education }}</td>
      </ng-container>

      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Years of Experience
        </th>
        <td mat-cell *matCellDef="let row">{{ row.experience }}</td>
      </ng-container>

      <ng-container matColumnDef="package">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Salary</th>
        <td mat-cell *matCellDef="let row">{{ row.package }} Birr</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell class="edit-delete-icons" *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </mat-card>
</div>
